# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.swiftpm/xcode/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary files
*.swp
*.lock
*~

# IDE
.idea/
*.iml
